body {
    background-color: rgb(48, 48, 48);
    background: rgb(48, 48, 48);;
}

.spinner {
    
    animation: Morph 2000ms infinite;

    height: 300px; /* Höhe der div-Box */
    width: 300px; /* Breite der div-Box */
    margin-top: -100px; /* Damit der "Ausrichtungspunkt" in der Mitte der Box liegt */
    margin-left: -150px;
    position: absolute; /* positionieren */
    top: 50%; /* in die Mitte verschieben */
    left: 50%;
}

@keyframes Morph {
    0%,
    100% {
        border-radius: 50%;
        transform: rotate(0deg);
        background-color: pink;
    }
    50% {
        border-radius: 0%;
        transform: rotate(180deg);
        background-color: lightblue;

    }
}

.loading {
    color: white;
    font-size: 50px;

}